
.slider-mt{
    margin-top: 150px;
}
.tv-bg-color{
    background-color:#feeae9;
}
.headphone-color{
    background-color:#2C3E50;
}
.xbox-color{
    background-color:#2e86de;
}
.buy-now-button {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}